# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
example-basic2/obj/x64/Release/vc141.pdb
example-basic2/obj/x64/Release/icon.res
example-basic2/obj/x64/Release/example-basic2.tlog/rc.write.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/rc.read.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/rc.command.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/link.write.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/link.read.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/link.command.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/example-basic2.write.1u.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/example-basic2.lastbuildstate
example-basic2/obj/x64/Release/example-basic2.tlog/CL.read.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/CL.command.1.tlog
example-basic2/obj/x64/Release/example-basic2.tlog/CL.13012.write.1.tlog
example-basic2/obj/x64/Release/example-basic2.log
example-basic2/icon.rc
example-basic2/example-basic2.vcxproj.user
example-basic2/example-basic2.vcxproj.filters
example-basic2/example-basic2.vcxproj
example-basic2/example-basic2.sln
example-basic2/example-basic.vcxproj.user
example-basic2/example-basic.vcxproj.filters
example-basic2/example-basic.vcxproj
example-basic2/example-basic.sln
example-basic2/bin/example-basic2.exp
example-basic2/bin/example-basic.exp
example-basic2/bin/data/.gitkeep
example-basic2/.vs/example-basic2/v15/Solution.VC.db-wal
example-basic2/.vs/example-basic2/v15/Solution.VC.db-shm
example-basic2/.vs/example-basic2/v15/Solution.VC.db
example-basic2/.vs/example-basic2/v15/Browse.VC.opendb
example-basic2/.vs/example-basic2/v15/Browse.VC.db
example-basic2/.vs/example-basic2/v15/.suo
example-basic2/obj/x64/Release/example-basic2.tlog/CL.write.1.tlog
